<div class="card mb-4">
  <div class="card-header">
    <h1>
      <div class="far fa-check-square"></div>
      New Lesson
    </h1>
  </div>
  <div class="card-body">
    <%= render 'form', lesson: @lesson %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', course_path(@course) %>
  </div>
</div>
